<section class="inner">
	<h2 class="section-ttl">未会計の注文履歴詳細</h2>
	<table class="order_info mb3 has_border">
		<caption class="fz18 text-left">注文情報</caption>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>注文日時</td>
				<td><%= @order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
			</tr>
			<tr>
				<td>購入者</td>
				<td><%= @customer_table.customer_tables_name %></td>
			</tr>
			<tr>
				<td>注文ステータス</td>
				<td>
					<%= @check_status %>
					<% if @order.status == 0 %>
					<p>未着手</p>
					<% elsif @order.status == 1 %>
					<p>調理中</p>
					<% elsif @order.status == 2 %>
					<p>提供済<p>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="flex">
		<table class="admin_order_details mr2 has_border">
			<caption class="fz18 text-left">注文内容</caption>
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価</th>
					<th>数量</th>
					<th>小計</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @order_details.each do |order_detail| %>
					<% menu = order_detail.menu %>
					<tr>
						<% if menu.nil? %>
						<td>該当する商品がありません。</td>
						<% else %>
						<td><%= menu.menu_name %></td>
						<% end %>
						<td class="text-center"><%= order_detail.price %>円</td>
						<td class="text-center"><%= order_detail.amount %></td>
						<td class="text-center"><%= order_detail.price * order_detail.amount %>円</td>
						<td><%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local: true do |f| %>
						<%= f.select :making_status, OrderDetail.making_statuses.keys, class: 'form-control ml-3' %>
						<%= f.submit "更新", class: "btn btn-primary" %>
						<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<table class="confirm_prices has_border">
			<caption class="fz18 text-left">請求情報</caption>
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>商品合計</td>
					<td><%= @order.total_payment %>円</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>