<section class="inner">
  <h2 class="section-ttl">新規会員登録</h2>

   <%= form_with model: @admin, url: new_admin_registration_path(Admin.new), local: true do |f| %>
    <%#= render 'layouts/error_messages', resource: @admin %>
    <%#=　エラーメッセージが作成出来たらコメントアウト解除　%>
    <table class="customer_info customer_form">
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>名前</td>
          <td><%= f.label :first_name, "(姓)", class: "admin_name" %> <%= f.text_field :first_name, autofocus: true, :placeholder =>"難波" %></td>
          <td><%= f.label :last_name, "(名)", class: "admin_name" %> <%= f.text_field :last_name, :placeholder =>"太郎" %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td colspan="2"><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></td>
          <td colspan="2"><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
          <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <h2 class="section-ttl">既に登録済みの方</h2>
  <p><%= link_to "こちら", new_admin_session_path, class: "underline" %>からログインしてください。</p>
</section>