<div class="container">
		<h2 class="section-ttl">注文情報確認</h2>
		<div class="flex">
			<table class="confirm_cart_items mr2 mb3 has_border">
				<thead>
					<div class="row">
          <div class="col-md-8">
          <table class="table">
					<tr>
						<th>商品名</th>
						<th>金額</th>
						<th>数量</th>
						<th>小計</th>
					</tr>
				</thead>
				<tbody>
					<% @total_amount = 0 %>
					<% @cart_items.each do |cart_item| %>
					<% @total_amount += cart_item.menu.price.to_i * cart_item.amount %>
						<!--<%# cart_item = cart_item.cart_item %>-->
						<tr>
							<td><%= cart_item.menu.menu_name %></td>
							<td><%= cart_item.menu.price %>円</td>
							<td><%= cart_item.amount %></td>
							<% subtotal = cart_item.menu.price * cart_item.amount %>
							<td><%= subtotal %>円</td>
						</tr>
					<% end %>
				</tbody>
				</table>
			</div>
			</div>
			<table class="confirm_prices has_border">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>合計金額</td>
						<td class="col-md-3"><%= @total_amount %>円</td>
					</tr>
				</tbody>
			</table>
		</div>
		<%= form_with model:@order, url: orders_path do |f| %>
			<div class="actions text-center">
				<%= f.submit "注文を確定する", class: "btn btn-primary submit_to_create_order" %>
			</div>

		<% end %>
</div>