<div class="container">
	 <div class="row">
		<h2 class="section-ttl">注文履歴一覧</h2>
		<table class="orders has_border">
			<thead>
				<tr>
					<th>注文時間</th>
					<th>合計金額</th>
					<th>ステータス</th>
					<th>注文詳細</th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td><%= order.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
						<td><%= order.total_payment %></td>
						<td class="text-center"><%= order.status %></td>
						<td><td><%= link_to "注文詳細", order_path(order), class:"show-button" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @orders %>
	 </div>
</div>
