<section class="inner">
	<h2 class="section-ttl">注文履歴詳細</h2>
	<table class="order_info mb3 has_border">
		<caption class="fz18 text-left">注文情報</caption>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>注文時間</td>
				<td><%= @order.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
			</tr>
			<tr>
				<td>ステータス</td>
				<td><%= @order.status %></td>
			</tr>
		</tbody>
	</table>
	<div class="flex">
		<table class="order_details mr2 has_border">
			<caption class="fz18 text-left">注文内容</caption>
			<thead>
				<tr>
					<th colspan="2">商品名</th>
					<th>金額</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @order.order_details.includes(:menu).each do |order_detail| %>
					<% menu = order_detail.menu %>
					<tr>
						<td>
							<%#= attachment_image_tag item, :image, format: "jpeg", fallback: "no-image.png", class: "cart_item_image" %>
						</td>
						<td><%= link_to menu.menu_name, menu_path(menu) %></td>
						<td class="text-right"><%= order_detail.price %>円</td>
						<td class="text-center"><%= order_detail.amount %></td>
						<td class="text-right"><%= order_detail.price * order_detail.amount %>円</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<table class="confirm_prices has_border">
			<caption class="fz18 text-left">請求情報</caption>
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>商品合計</td>
					<td><%= @order.total_payment %>円</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>