<div class='container'>
	<h2 class="section-ttl">注文履歴詳細</h2>
	<table class="order_info mb3 has_border">
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>注文時間</td>
				<td><%= @order.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
			</tr>
			<tr>
				<td>ステータス</td>
				<td>
					<%= @check_status %>
					<% if @order.status == 0 %>
					<p></p>
					<% elsif @order.status == 1 %>
					<p>調理中</p>
					<% elsif @order.status == 2 %>
					<p>提供済<p>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="flex">
		<table class="table table-borderd">
			<thead>
				<tr>
					<th scope="col">商品名</th>
					<th scope="col">金額</th>
					<th scope="col">数量</th>
					<th scope="col">小計</th>
					<th scope="col">ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @order.order_details.includes(:menu).each do |order_detail| %>
					<% menu = order_detail.menu %>
					 <%= next if !menu %>
					<tr>
						<td scope="row"><%= link_to menu.menu_name, menu_path(menu) %></td>
						<td><%= order_detail.price %>円</td>
						<td><%= order_detail.amount %></td>
						<td><%= order_detail.price * order_detail.amount %>円</td>
            <td><%= status_message(order_detail.making_status) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

			<div class="row">
				<table class="table table-bordered border-dark col-4">
					<thead>
						<tr>
							<th style="border-color:black;">合計金額</th>
							<th class="col-md-3" style="border-color:black;"><%= @order.total_payment %>円</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</div>