
	<%#= render 'layouts/error_messages', resource: menu %>
<div class='container'>
	<div class='row justify-content-center'>
	  <%= form_with model:menu, url: url do |f| %>
			<div>
				<%= f.label :image, "画像" %>
				<div class="row image_field">
					<div class="col-4">
					 <%= image_tag (menu.image.attached? ? menu.image : 'no_image.jpg'), id: "img_prev", class: "admin_menu_image" %>
					</div>
					<div class="col-4">
					 <span class="btn btn-file btn-info"><%= f.file_field :image,  accept:'image/*' %>画像選択</span>
					</div>
				</div>
				<p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
			</div>
			<table class="admin_item_info item_form">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= f.label :menu_name, "商品名" %></td>
						<td><%= f.text_field :menu_name %></td>
					</tr>
					<tr>
						<td><%= f.label :introduction, "商品説明" %></td>
						<td><%= f.text_area :introduction, rows: 5, cols: 50, class: "mt-3 mb-3" %></td>
					</tr>
					<tr>
						<td><%= f.label :genre_id, "ジャンル" %></td>
						<td class="select_field"><div class="mb-3"><%= f.collection_select :genre_id, Genre.all, :id, :genres_name %></div></td>
					</tr>
					<tr>
						<td><%= f.label :price, "価格" %></td>
						<td><%= f.number_field :price, class: "mb-3" %> 円</td>
					</tr>
					<tr>
						<td><%= f.label :sales_status, "販売ステータス", class: "mb-3" %></td>
						<td class="select_field">
							<div class="mb-3">
								<%= f.radio_button :is_active, true %>
								<%= f.label :is_active, "販売中", class: "text-active m-0"  %>
								<%= f.radio_button :is_active, false %>
								<%= f.label :is_active, "販売停止中", class: "text-invalid m-0" %>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center">
				<%= f.submit submit, class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>

