<div class='container'>
	<div class="inner">
		<% if params[:genre_id] %>
			<h2 class="section-ttl"><%= @genre.genres_name %>の商品一覧 (全<%= @all_menus_count %>件)</h2>
		<% else %>
			<h2 class="section-ttl">商品一覧 (全<%= @all_menus_count %>件)</h2>
		<% end %>
		<%= render 'admin/menus/index', menus: @menus %>
		<%= paginate @menus %>
	</div>
</div>