<div class='container'>
	<h2>商品詳細</h2>
		<div class='row'>

			<div class="col-xl-5 text-center">
					<%= image_tag (@menu.image.attached? ? @menu.image : 'no_image.jpg'), id: "img_prev", class: "admin_menu_image" %>
					<div class="mt-3 tag-box">
						<% @menu.tags.each do |tag| %>
					  <span class="label"><%= tag.name %></span>
						<% end %>
					</div>
			</div>



        <div class="col-xl-7">
        	<div align="center">
	          <table>
								<tr>
									<th><h4>商品名</h4></th>
									<th><%= @menu.menu_name %></th>
								</tr>
								<tr>
									<th><h4>商品説明</h4></th>
									<th><%= @menu.introduction %></th>
								</tr>
								<tr>
									<th><h4>ジャンル</h4></th>
									<th><%= link_to @menu.genre.genres_name, admin_genres_path, class: "underline" %></th>
								</tr>
								<tr>
									<th><h4>税抜価格</h4></th>
									<th><%= @menu.price %>円</th>
								</tr>
								<tr>
									<th><h4>販売ステータス</h4></th>
									<th>
										<% if @menu.is_active? %>
											<span class="text-active">販売中</span>
										<% else %>
											<span class="text-invalid">販売停止中</span>
										<% end %>
									</th>
								</tr>
						</table><br>
							<div class="flex align-center pl5">
					     <%= link_to "編集する", edit_admin_menu_path(@menu), class: "btn btn-success" %>
					      <%= link_to "削除する", admin_menu_path(@menu), method: :delete, data: {confirm: "#{@menu.menu_name}を削除します。よろしいでしょうか？"}, class: "btn btn-success" %>
			      	</div>
					</div>
        </div>

		</div>
</div>