<h2>テーブル番号入力画面</h2>


<%# form_with model: @customer_table, url: customer_table_session_path, local: true do |f| %>
<%= form_for(resource, as: resource_name, url: customer_table_session_path) do |f| %>
  <%= render "/public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :customer_tables_name do %>テーブル名を記述してください<% end %><br />
    <%= f.text_field :customer_tables_name, autofocus: true, autocomplete: "customer_tables_name" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>


