<!DOCTYPE html>
<html>
  <head>
    <title>MechaChumonEasyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

<body style="background-color: #FFFFCC">
    <header class="border-bottom" style="height: 100px; background-color: #33FF66">
      <ul class="nav justify-content-around" style="padding-top: 30px;">
        <li class="nav-item">
          <i class="fas fa-utensils"></i>
          <%= link_to 'MechaChumonEasy', (admin_signed_in? ? admin_menus_path : root_path ), class: "logo" %>
        </li>

        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to '商品一覧',  admin_menus_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to '未会計のオーダー',  admin_orders_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
             <%= link_to '注文履歴一覧',  admin_admin_orders_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ジャンル一覧',  admin_genres_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'テーブル番号一覧',   admin_customer_tables_path, class: "nav-link active" %>
          </li>
          <li class="nav-item mr-5">
            <%= button_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link active" %>
          </li>
        <% elsif customer_table_signed_in? %>
          <div class="text-center">
            <p>ようこそ、<%= current_customer_table.customer_tables_name %>さん!</p>
          </div>
          <li class="nav-item row">
            <%= link_to '商品一覧', menus_path, class: "nav-link active btn btn--orange"  %>
            <%= link_to 'カート', cart_items_path, class: "nav-link active btn btn--orange" %>
            <%= link_to '注文履歴一覧', orders_path, class: "nav-link active btn btn--orange" %>
            <%= button_to 'お会計', destroy_customer_table_session_path, method: :delete, class: "nav-link active btn btn--orange" %>
          </li>
        <% end %>
      </ul>
    </header>

    <!--    </ul>-->
        <%# if admin_signed_in? %>
          <%#= form_tag(admin_search_path, method: :get) do %>
            <%#= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
            <%#= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
            <%#= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
            <%#= submit_tag '検索', class: "btn btn-primary" %>
          <%# end %>
        <%# end %>
        <!--検索機能。時間があったら実装する。-->

      </div>
    </header>
    <main class = "mt-5">
      <%= yield %>
    </main>

  </body>
</html>

